@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Open Sans", Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

:root {
  --color1: #e4e6eb;
  --color2: #d3d6de;
  --color3: #b6bbc9;
  --color4: #98a0b3;
  --color5: #7b859d;
  --mainColor: #204599;
  --secondColor: #2ac2ea;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
  height: 95vh;
}

.navbar .navbar-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 5rem;
  background-color: var(--color2);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.navbar .navbar-split .navlink {
  color: #204599;
}

.navbar .navbar-split .navlink ul {
  padding-top: 2em;
}

.navbar .navbar-split .navlink ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5em;
  list-style-type: none;
  border: .5px solid #204599;
  border-radius: 5px;
  cursor: pointer;
}

.navbar .navbar-split .navlink ul li:hover {
  color: var(--color2);
  background-color: #204599;
  border: 0.5px solid var(--color2);
  border-radius: 5px;
  -webkit-transition: all .9s ease-out;
  transition: all .9s ease-out;
}

.navbar .navbar-split .navlink ul li:hover a {
  color: var(--color2);
}

.navbar .navbar-split .navlink ul li i {
  padding-right: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbar-split .navlink ul li a {
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  color: #204599;
  text-decoration: none;
}

.middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.middle header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  background-color: var(--color2);
  height: 10vh;
}

.middle header .header-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle header .header-split .opsLogo {
  padding-left: 5rem;
}

.middle header .header-split .searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle header .header-split .searchbar .searchbar-split {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle header .header-split .searchbar .searchbar-split form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.middle header .header-split .searchbar .searchbar-split form input {
  padding-left: 4rem !important;
  width: 50rem;
  border-radius: 5px;
}

.middle header .header-split .searchbar .searchbar-split form input[type="search"] {
  padding: 10px;
}

.middle header .header-split .searchbar .searchbar-split form i {
  display: block;
  position: absolute;
  padding: 15px;
  left: 0;
}

.middle header .header-split .inodeaLogo {
  padding-right: 5rem;
}

.middle header .header-split .inodeaLogo img {
  height: 10vh;
  max-height: 20%;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-content > article {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color2);
}

.main-content > article form {
  position: relative;
}

.main-content > article form ul {
  list-style-type: none;
  padding: 0;
}

.main-content > article form ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
}

.main-content > article form ul li > label {
  padding: 0.5em 1 em 0.5em 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main-content > article form ul li > input {
  height: 2em;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.main-content > aside {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  margin: 1rem;
  background-color: var(--color2);
}

.main-content > aside .grid-container {
  display: -ms-grid;
  display: grid;
  padding: 20px;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 20px 20px;
}

.main-content > aside .grid-container .grid-item {
  display: -ms-grid;
  display: grid;
  position: relative;
  border: 1px solid black;
  border-radius: 10px;
  margin: 5px;
  -ms-grid-rows: 25% 20% 40% 15%;
      grid-template-rows: 25% 20% 40% 15%;
}

.main-content > aside .grid-container .grid-item img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.main-content > aside .grid-container .grid-item .title {
  padding: 1em 1em;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  text-transform: uppercase;
}

.main-content > aside .grid-container .grid-item .description {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-content > aside .grid-container .grid-item .description::first-letter {
  text-transform: uppercase;
}

.main-content > aside .grid-container .grid-item .readMore {
  border-radius: 10px;
  height: 2em;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  height: 70%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.modal-content .modal-header {
  padding: 2px 16px;
  background-color: #69388c;
  color: white;
}

.modal-content .modal-header h2 {
  text-align: center;
}

.modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5em 2em;
}

.modal-content .modal-body p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-content .modal-footer {
  padding: 2px 16px;
  background-color: #69388c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/*# sourceMappingURL=14-main.css.map */