:root {
  --mainColor: #a80534;
  --secondColor: #fdb815;
  --thirdColor: #e6e6e6;
}

body {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header header header" "nav article aside" "footer footer footer";
  -ms-grid-rows: 10% 1fr 10%;
      grid-template-rows: 10% 1fr 10%;
  -ms-grid-columns: 20% 1fr 50%;
      grid-template-columns: 20% 1fr 50%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin: 0;
  height: 100vh;
}

header,
footer,
article,
nav,
aside {
  padding: 1.2em;
  background-color: var(--mainColor);
}

#mainHeader {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
}

#mainHeader .header-split {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (20% minmax(30%, 30%) 10%)[auto-fill];
      grid-template-columns: repeat(auto-fill, 20% minmax(30%, 30%) 10%);
  text-align: center;
  height: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
}

#mainHeader .header-split div {
  height: 100%;
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

#mainHeader .header-split img {
  height: 5em;
}

#mainHeader .header-split .searchbar form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  position: relative;
}

#mainHeader .header-split .searchbar form input {
  padding-left: 3rem;
  border-radius: 5px;
  height: 3em;
}

#mainHeader .header-split .searchbar form i {
  display: block;
  position: absolute;
  font-size: 2em;
  padding-left: .5rem;
  padding-top: .5rem;
}

#mainArticle {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: article;
  background-color: var(--secondColor);
}

#mainArticle form {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mainArticle form ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

#mainArticle form ul li {
  padding-bottom: .5rem;
  color: var(--mainColor);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(10em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
  list-style-type: none;
}

#mainNav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  background-color: var(--mainColor);
}

#mainNav .nav-split {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mainNav .nav-split .nav-logo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mainNav .nav-split .nav-links {
  display: -ms-grid;
  display: grid;
  color: var(--mainColor);
}

#mainNav .nav-split .nav-links ul {
  padding: 5em 0.5em;
}

#mainNav .nav-split .nav-links ul li {
  padding: 0.5em;
  border: 0.5px solid var(--secondColor);
  border-radius: 5px;
  cursor: pointer;
  list-style-type: none;
  text-align: center;
}

#mainNav .nav-split .nav-links ul li a {
  color: var(--secondColor);
}

#mainNav .nav-split .nav-links ul li i {
  color: var(--secondColor);
}

#mainNav .nav-split .nav-links ul li:hover {
  color: var(--mainColor);
  background-color: var(--secondColor);
  border: 0.5px solid var(--mainColor);
  border-radius: 5px;
  -webkit-transition: all 0.9s ease-out;
  transition: all 0.9s ease-out;
}

#mainNav .nav-split .nav-links ul li:hover i {
  color: var(--mainColor);
}

#mainNav .nav-split .nav-links ul li:hover a {
  color: var(--mainColor);
}

#mainNav .nav-split .nav-links ul hr {
  border: 1px solid var(--secondColor);
}

#mainAside {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: aside;
  background-color: var(--mainColor);
}

#mainAside .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-gap: 20px 20px;
}

#mainAside .grid-container .grid-item {
  display: -ms-grid;
  display: grid;
  position: relative;
  border: 1px solid var(--secondColor);
  border-radius: 10px;
  padding: 1em;
  margin: 5px;
  -ms-grid-columns: (minmax(20em, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#mainAside .grid-container .grid-item img {
  -ms-grid-column-align: center;
      justify-self: center;
}

#mainAside .grid-container .grid-item .title {
  padding: 1em 1em;
  color: var(--secondColor);
  text-align: center;
  font-weight: bold;
  overflow: hidden;
  text-transform: uppercase;
}

#mainAside .grid-container .grid-item .description {
  color: var(--secondColor);
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

#mainAside .grid-container .grid-item .description::first-letter {
  text-transform: uppercase;
}

#mainAside .grid-container .grid-item .readMore {
  color: var(--mainColor);
  background-color: var(--secondColor);
  border: 1px solid var(--mainColor);
  border-radius: 5px;
  height: 2em;
}

#mainFooter {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
  text-align: center;
  color: var(--secondColor);
  font-size: x-large;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
          animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
}

.modal-content .modal-header {
  padding: 2px 16px;
  background-color: var(--mainColor);
  color: white;
}

.modal-content .modal-header h2 {
  text-align: center;
}

.modal-content .modal-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--secondColor);
  padding: 5em 2em;
}

.modal-content .modal-body p {
  color: var(--mainColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
/*# sourceMappingURL=14-main.css.map */