* {
    margin: 0;
    padding: 0;
    list-style: none;
}
$main_color: #e3e3e3;

body {
    background-color: $main_color;
    .container {
        height: 1000px;
        width: 900px;
        margin: 0 auto;
        background-color: #e3e3e3;
        header {
            width: 50px;
            height: 900px;
            background-color: #e3e3e3;
            ul {
                li {
                    float: left;
                    a {
                        display: block;
                        height: 50px;
                        line-height: 50px;
                        text-align: center;
                        width: 150px;
                        text-decoration: none;
                        font-size: 24px;
                        &:hover {
                            color: blueviolet;
                        }
                    }
                }
            }
        }
    }
}