* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 20px;
}


.search {
    display: flex;
    padding: 20px;
    justify-content: center;
    margin: 0 auto;
    width: auto;
    max-width: 580;
}
.split-searchbar {
    display: flex;
}
.search-icon {
    display: block;
    position: absolute;
}
.searchbar {
    margin: 0;
    padding: 0;
    display: block;
}
.voicelogo {
    display: block;
    position: absolute;
}
/* 
.split-searchbar {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.voicelogo img {
    display: inline-flex;
    align-items: center;
}
.search {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    opacity: 0.6;
}
.searchbar div {
    display: block;
} */

.btns {
    padding: 20px;
    display: flex;
    justify-content: center;
}
.btns input {
    width: 15rem;
    height: 2rem;
    display: flex;
    justify-content: space-around;
}

.info {
    display: flex;
    justify-content: center;
}