:root {
    --mainColor: #a80534;
    --secondColor: #fdb815;
    --thirdColor: #e6e6e6;
}
body {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav article aside"
        "footer footer footer";
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 20% 1fr 50%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 0;
    height: 100vh;
}
header,
footer,
article,
nav,
aside {
    padding: 1.2em;
    background-color: var(--mainColor);
}

#mainHeader {
    grid-area: header;
    .header-split {
        display: grid;
        justify-content: center;
        // grid-template-columns: 20% 30% 10%;
        grid-template-columns: repeat(auto-fill, 20% minmax(30%, 30%) 10%);
        text-align: center;
        height: 100%;
        align-content: center;
        div {
            height: 100%;
            justify-self: center;
            display: grid;
            align-content: center;
        }
        img {
            height: 5em;
        }
        .searchbar {
            form {
                display: grid;
                grid-template-columns: auto;
                position: relative;
                input {
                    padding-left: 3rem;
                    border-radius: 5px;
                    height: 3em;
                }
                i {
                    display: block;
                    position: absolute;
                    font-size: 2em;
                    padding-left: .5rem;
                    padding-top: .5rem;
                }
            }
        }
    }
}

#mainArticle {
    grid-area: article;
    background-color: var(--secondColor);
    form {
        display: grid;
        justify-content: center;
        ul {
            display: grid;
            grid-template-columns: auto;
            li {
                padding-bottom: .5rem;
                color: var(--mainColor);
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
                list-style-type: none;
            }
        }
    }
}

#mainNav {
    grid-area: nav;
    background-color: var(--mainColor);
    // text-align: center;
    .nav-split {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        // grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
        .nav-logo {
            display: grid;
            justify-content: center;
        }
        .nav-links {
            display: grid;
            color: var(--mainColor);
            ul {
                padding: 5em 0.5em;
                li {
                    padding: 0.5em;
                    border: 0.5px solid var(--secondColor);
                    border-radius: 5px;
                    cursor: pointer;
                    list-style-type: none;
                    text-align: center;
                    a {
                        color: var(--secondColor);
                    }
                    i {
                        color: var(--secondColor);
                    }
                    &:hover {
                        color: var(--mainColor);
                        background-color: var(--secondColor);
                        border: 0.5px solid var(--mainColor);
                        border-radius: 5px;
                        transition: all 0.9s ease-out;
                        i {
                            color: var(--mainColor);
                        }
                        a {
                            color: var(--mainColor);
                        }
                    }
                }
                hr {
                    border: 1px solid var(--secondColor);
                }
            }
        }
    }
}

#mainAside {
    grid-area: aside;
    background-color: var(--mainColor);
    .grid-container {
        display: grid;
        // grid-template-columns: 1fr 1fr 1fr 1fr;
        // grid-template-rows: 25vh 25vh 25vh;
        grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
        grid-gap: 20px 20px;
        // grid-column-gap: 20px;
        // grid-row-gap: 20px;
        .grid-item {
            display: grid;
            position: relative;
            border: 1px solid var(--secondColor);
            border-radius: 10px;
            padding: 1em;
            margin: 5px;
            grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
            justify-content: center;
            img {
                justify-self: center;
            }
            .title {
                padding: 1em 1em;
                color: var(--secondColor);
                text-align: center;
                font-weight: bold;
                overflow: hidden;
                text-transform: uppercase;
            }
            .description {
                color: var(--secondColor);
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                &::first-letter {
                    text-transform: uppercase;
                }
            }
            .readMore {
                color: var(--mainColor);
                background-color: var(--secondColor);
                border: 1px solid var(--mainColor);
                border-radius: 5px;
                height: 2em;
            }
        }
    }
}

#mainFooter {
    grid-area: footer;
    text-align: center;
    color: var(--secondColor);
    font-size: x-large;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;

    .modal-header {
        padding: 2px 16px;
        background-color: var(--mainColor);
        color: white;
        h2 {
            text-align: center;
        }
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        background-color: var(--secondColor);
        p {
            color: var(--mainColor);
            display: flex;
            justify-content: space-between;
        }
        padding: 5em 2em;
    }
}

/* Add Animation */
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}
