@media all and (max-width: 760px) {
    body {
        grid-template-areas: "nav" "header" "article" "aside" "footer";
        grid-template-rows: 1fr 10% 1fr 1fr 10%;
        grid-template-columns: 1fr;
    }
}